<!DOCTYPE>
  <html>
   <head>
     <meta charset="utf-8">
     <link href="styles/ireland.css" type="text/css" rel="stylesheet">
     <title>Simple Truth Church</title>
    </head>
    <body>
      <h1 class="right"><a href='https://simpletruthlive.org/donations'>Simple Truth Church</a>
      
        <span><button><a class="navbar" href="https://simpletruthlive.org/">Home</a></button>
          <a href="missionStatement.html"><button>Mission Statement</button></a>
          <a href="contactUs.html"><button>Contact Us</button></a>
          <a href="prayerRequests.html"><button>Prayer Request</button></a>
          <a href="services-messages.html"><button>Messages</button></a>
          <a href="ministries.html"><button>Ministries</button></span></a>
          <a href="donations.html"><button>Donations</button></a>
          <a href="churchdirectory.html"><button>Church Directory</button></a></span></h1>
    </body>
 </html>